"

body {background-color: black; font:83% tahoma,verdana,sans-serif; color:#eee; line-height:1.7em;}
a {color:#dcb975; text-decoration:none;}
a:hover {color:#white;}
h1 {font-size:2.6em; margin:0; padding:40px 0 0 20px;}
h2,h3 {font-size:1.8em; margin:0 0 10px; padding:0;}
h3 {font-size:1.4em;}
p,ul,ol {margin:0 0 20px 0; padding:0;}
p { text-align: justify;  }

/*  set margin from the top and bottom of the page   */
#wrap { background-image: url(bg.jpg); margin:20px auto; width:960px; margin-bottom: 50px;}


/* header of the page */
#header {background-color: transparent; background-image: url(header.png); height:300px; margin-bottom:20px;}  /*Banner for page where heading is inserted , 
margin-bottom gives margin until next block"cointainer starts"*/

/* text is optional in this part, otherwise banner can be used only.*/
#header h1, #header h1 a {color: transparent; line-height: auto;}





#hmenu ul {float:left; width:960px;}
#hmenu ul li {display:inline;}
#hmenu ul li a {color:#aaa; font-size:1.4em; float:left; padding:4px; margin:0 25px 0 0;}
#hmenu ul li a:hover {color:blue;}
#hmenu ul li a.current {color: white;}

#Contact ul {float:left; width:960px;}
#Contact ul li {display:inline;}
#Contact ul li a {color:#aaa; font-size:1.4em; float:left; padding:4px; margin:0 25px 0 0;}
#Contact ul li a:hover {color:#eee;}
#Contact ul li a.current {color:#dcb975;}

#likes ul {padding-left: 20px;}

#main {float: center; width:760px; margin:auto;}
#main a {padding-bottom:1px; border-bottom:1px dotted white;}
#main a:hover, #footer a:hover {border-color:#ccc;}

#quarters {clear:both; margin:20 0 20px 0;}
#quarter {margin:50px auto;}  
#quarters h2 {font-size:1.2em; color:white; margin:5px 10px 10px 10px;}
#quarters p {font-size:0.9em; color:white; margin:0 10px 5px 10px;}
.q1,.q2,.q3,.q4 {width:225px; margin:0 20px 0 0; background-color:#1a1a1a; float:center;}


#footer {clear:both; margin:20px 50px 20px 160px;}
#footer {float: center;  }
/*#footer p {color:#888; margin: right ; padding:10px 0 5px; text-align:right;}*/
/*#footer a {color:#888; padding-bottom:1px; border-bottom:1px dotted #555;}*/
#footer a:hover {color:#ccc;}
